p { font-size: 24px; }

.more-text { color: gray; }

h1 {
  color: orange;
  text-align: center;
}

strong {
  color: blue;
  text-decoration: underline;
}

em { color: red; }

body { background-color: #ffffe0 }

#final-paragraph { text-decoration: underline; }
